@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />
<br />
<h1>Coming Soon</h1>
<div class="container text-center ">
    <div class="card-deck col">

        <div class="card text-center mt-10" style="width: 18rem;">
            <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2018/06/2F047F8F-B668-487D-8648-584AF65F0994-760x400.jpeg" class="card-img-top" />
            <div class="card-body mt-10 text-center">
                <h1 class="heading-1">Contribute</h1>
                <p class="para">
                    Our goal is to have the application at least 50% crowd funded.  We are a 501(C)(3) organization so all donations are tax deductible.  We will be relying on monthly contributions to fund the build, so one time donations are awesome, but <span style="font-weight:bold;">a high number of smaller monthly donations are ideal.</span>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
