@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<main>
    <div class="container-fluid p-0">
        <div class="site-content">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <h1 class="site-title">Community Case Management System Build</h1>
                    <p class="site-desc">
                        Using Technology to Bring Nonprofits Across Washington State Together as One Cohesive Team!
                    </p>

                    <div class="d-flex flex-row">
                        <input type="button" value="Donate" class="btn site-btn1 px-4 py-3 mr-4 btn-dark" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-1">
        <div class="container text-center">
            <h1 class="heading-1">Why are We Building this System?</h1>
            <p class="para-1">
                I have worked in the social services field for fifteen years, and one issue I have encountered time and time again is the lack of ability for nonprofits to coordinate and communicate with each other regarding shared clientele.  This Community Case Management System will make it possible to share information regarding currently available resources.  It will give nonprofits the ability to send referrals directly to other nonprofits across the state.  Participating nonprofits will have a fully functional case management system similar to ones used by large government organizations. Finally, and most importantly nonprofits will have the ability, with written consent of the client, to share and read progress notes from partnering nonprofits in order to maximize the benefit to the client and eliminate wasted time and resources.  This application will revolutionize social service delivery.
            </p>

            <div class="row justify-content-center text-center">

                <div class="col-md-4">

                    <div class="card">
                        <img src="https://live.staticflickr.com/4091/4965199901_3a5b2944f1_b.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Message Board</h4>
                            <p class="card-text">Every participating nonprofit will have access to a social media like message board.  They will have the ability to make posts about available resources or upcoming events.  They will be able to delete their posts when they are no longer needed or edit them as needed.  Nonprofits will have the ability to follow the posts of other nonprofits in a “My Community” section of the application.  Users will have the ability to search the message board by keyword.  This section will keep the rest of the community informed about your organization and will keep you informed about others.</p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM-uATs4FkGCAvRSvBYDVDTFXgVT20uKXyhr-dy1P0UVW4zvCy" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Community Collaberation</h4>
                            <p class="card-text">The Community Case Managements System will allow organizations to collaborate in two ways.  First, users will have the ability to send referrals directly to other organizations through a message portal.  The user will be able to save the referrals they send so they can follow up at a later date.  Second, with the written consent of the client, organizations will have the ability to share their progress notes with partnering organizations who are assisting the same client.  They will also have the ability to read the progress notes from those partners.  This will help keep all stakeholders informed about the client’s progress, it will help eliminate duplicate resource dispersal, and will create cross organizational teams that will be better equipped to serve the needs of their clients.  </p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card">
                        <img src="https://live.staticflickr.com/1816/30212411048_2a1d7200e2_b.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Leveraging New Technology</h4>
                            <p class="card-text">In the second phase of the application build, after the initial role out.  We will be implementing Microsoft’s free and opensource Machine Learning Framework ML.NET in order to deliver the highest quality analytics that current technology can provide.  Machine learning is currently used to predict your next purchase, it is used to determine which social media post you see and what advertisements will be most effective.  We are going to use Machine Learning for positive social change. Intersectionality is real and can be incredibly complex, we will use Machine Learning to make predictions about what combination of services are most effective for various groups.  This will provide every participating organization with accurate feedback which they can use to make adjustments to their service delivery.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column m-4">
                    <h1 class="heading-1 bg-light">Contribute</h1>
                    <p class="para bg-light">
                        Our goal is to have the application at least 50% crowd funded.  We are a 501(C)(3) organization so all donations are tax deductible.  We will be relying on monthly contributions to fund the build.  I have very little overhead; I will be building the application from my home, so I only need enough funding to cover living expenses.  Similar applications would cost hundreds of thousands to millions of dollars to build.  We are willing to do it for a little more that minimum wage.  The best way to support the build is by signing up to make a monthly contribution.  I am passionate about building the Community Case Management System, I know it is necessary, please support the mission.
                    </p>

                    <input type="button" value="Make a Contribution" class="btn btn-danger"/>
                </div>
            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="container text-center">
            <h1 class="commit">Our Commitments to Supporters</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Community Engagement</h3>
                            <p class="m-2">
                                The system design will be a community effort, I will be asking local nonprofits to participate in a workgroup to help design the functionality of the system.  I want to hear feedback from the community and build a custom system that meets everyone’s needs.  It doesn’t do anyone any good to build the application in isolation, so I am making the commitment to stay engaged with the nonprofit community and make you a member of the build team.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Progress Reports</h3>
                            <p class="m-2">
                                We are making a commitment to provide weekly progress reports.  Every Friday we will record a screen capture video where we will show the community the progress we made during the week.  We will talk about the features that were added, the obstacles we encountered and our plans for the following week.  We will upload the videos to YouTube and post them here on the website in the “Progress” section.  You will witness the build from start to finish and be able to see how your hard earned money is being put to use.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Diligence</h3>
                            <p class="m-2">
                                We are committing to give 120% effort to the Community Case Management System build.  Our lives will revolve around building this application as quickly as possible without sacrificing quality.  We estimate that we will have a fully functional beta version within one year of the first line of code.  We also estimate that we will have the analytics and Machine Learning features complete within one year of the application going live.  We are passionate about the mission and will change how social services are delivered in the State of Washington.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="section-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img class="btmimg"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHuFbekXOl_ZNvG7Fj5r0EM87geLVfgFeq8SlOgWxPAKs4oKel" width="100%" />
                </div>
                <div class="col-md-5">
                    <h1 class="text-white">One Step at a Time</h1>
                    <a href="#">Become a Change Agent</a>
                    <p class="para-1">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
   
</footer>