@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<main>
    <div class="container-fluid p-0">
        <div class="site-content">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <h1 class="site-title">Community Case Management System Build</h1>
                    <p class="site-desc">
                        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                    </p>

                    <div class="d-flex flex-row">
                        <input type="button" value="Donate" class="btn site-btn1 px-4 py-3 mr-4 btn-dark" />
                        <input type="button" value="Contact" class="btn site-btn2 px-4 py-3 mr-4 btn-light" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-1">
        <div class="container-fluid text-center">
            <h1 class="heading-1">Why are We Building this System?</h1>
            <p class="para-1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            </p>

            <div class="row justify-content-center text-center">
                <div class="col-md-4">
                    <div class="card" style="width:20rem;">
                        <img src="https://live.staticflickr.com/4091/4965199901_3a5b2944f1_b.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Message Board</h4>
                            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:20rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM-uATs4FkGCAvRSvBYDVDTFXgVT20uKXyhr-dy1P0UVW4zvCy" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Community Collaberation</h4>
                            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:20rem;">
                        <img src="https://live.staticflickr.com/1816/30212411048_2a1d7200e2_b.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">Leveraging New Technology</h4>
                            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column m-4">
                    <h1 class="heading-1">How You Can Contribute</h1>
                    <p class="para">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                    </p>

                    <input type="button" value="Donate" class="btn btn-danger"/>
                </div>
            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fas-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Tech Support</h3>
                            <p class="m-2">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHuFbekXOl_ZNvG7Fj5r0EM87geLVfgFeq8SlOgWxPAKs4oKel" width="590" />
                </div>
                <div class="col-md-5">
                    <h1 class="text-white">One Step at a Time</h1>
                    <a href="#">Become a Change Agent</a>
                    <p class="para-1">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>