
@{
    Layout = "_Layout";
}
<div class="container-fluid p-0">
    <div class="site-content prog">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="site-title">Community Case Management System Build</h1>
                <h2 class="site-desc">
                    Using Technology to Bring Nonprofits Across Washington State Together as One Cohesive Team!
                </h2>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div class="section-1 text-center">

    <h1 class="heading-1">Progress Videos</h1>


    <div class="container text-center">
        <div class="card-deck col">

            <div class="card text-center mb-5" style="width: 18rem;">

                <div class="card-body text-center">
                    <h5 class="card-header navbar-light" align-content:center">Vlog One</h5>

                    <h1>Coming Soon</h1>

                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xuZA6qiJVfU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
